@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(200, 200, 200);
}
body::-webkit-scrollbar-thumb {
  background-color: #303030;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
